body {
    background: rgb(143, 143, 143);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
h1 {
    color: rgb(88, 34, 34);
}
h3 {
    color: rgb(0, 0, 0);
}